<style>
    #detailSection md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item {
        width: 1050px;
    }

    md-tab-item {
        max-width: none !important;
    }
</style>
<div style="padding-left: 25px; padding-top: 25px; padding-bottom: 25px; padding-right: 25px; min-width: 1680px; min-height: 1500px;">
    <h3><span class="glyphicon glyphicon-user glyphiconFlightPax img-circle"></span>Passenger Detail</h3>

    <div class="span12" style="padding-left: 25px; padding-top: 25px; padding-bottom: 25px; padding-right: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">Last Name:&nbsp; <strong>{{ passenger.lastName | capitalize }}</strong></div>
                <div class="col-sm-4">First Name:&nbsp; <strong>{{ passenger.firstName | capitalize }}</strong></div>
                <div class="col-sm-4">Middle Name:&nbsp; <strong>{{ passenger.middleName | capitalize }}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Gender:&nbsp; <strong> {{ passenger.gender }}</strong></div>
                <div class="col-sm-4">DOB:&nbsp; <strong> {{ passenger.dob | date:"MM/dd/yyyy" }}</strong></div>
                <div class="col-sm-4">Pax Type:&nbsp; <strong> {{ passenger.passengerType }}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Embarkation:&nbsp; <strong> {{ passenger.embarkation }}</strong></div>
                <div class="col-sm-4">Debarkation:&nbsp; <strong> {{ passenger.debarkation }}</strong></div>
                <div class="col-sm-4">Citizenship:&nbsp; <strong> {{ passenger.citizenshipCountry }}</strong></div>
            </div>
        </div>
    </div>
    <!-- END OF SPAN 12 -->

    <div class="container" style="padding: 10px;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <section>
        <div class="container" style="height:100%;">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="panel panel-default" style="min-height: 1200px; max-height: 1200px;">
            <md-tabs id="detailSection" md-stretch-tabs="always" md-dynamic-height>
                <md-tab label="Details" style="max-width: 150px;">
                    <div class="span12" style="background-color: rgb(255, 255, 255, 0.15);">
                        <div class="container" style="height:100%;">
                            <div style="padding: 10px;"></div>
                            <div class="row">
                                <div class="col-sm-2">&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">Flight:&nbsp; <strong>{{
                                    passenger.flightNumber | capitalize }}</strong></span></div>
                                <div class="col-sm-2">Orig.:&nbsp; <strong>{{ passenger.flightOrigin }}</strong></div>
                                <div class="col-sm-2">Dest.:&nbsp; <strong>{{ passenger.flightDestination }}</strong>
                                </div>
                                <div class="col-sm-3">ETD:&nbsp; <strong>{{ passenger.flightETD | date:"MM/dd/yyyy
                                    HH:mm"
                                    }}</strong></div>
                                <div class="col-sm-3">ETA:&nbsp; <strong>{{ passenger.flightETA | date:'MM/dd/yyyy
                                    HH:mm'
                                    }}</strong></div>
                                <!-- <div class="col-sm-1">SEAT:&nbsp; <strong>{{ passenger.seat}}</strong></div> -->
                            </div>
                        </div>
                    </div>
                    <div style="padding: 30px;"></div>
                    <div class="span10">
                        <table class="table table-hover table-condensed table-striped col-lg-offset-1"
                               style="border-collapse: separate; padding-left: 20px; width: 1200px; text-align: center;">
                            <thead>
                            <tr class="text-center">
                                <th style="text-align: center">Doc #</th>
                                <th style="text-align: center">Type</th>
                                <th style="text-align: center">Iss. Country</th>
                                <th style="text-align: center">Iss. Date</th>
                                <th style="text-align: center">Exp. Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="doc in passenger.documents">
                                <td style="text-align: center">{{doc.documentNumber}}</td>
                                <td style="text-align: center">{{doc.documentType}}</td>
                                <td style="text-align: center">{{doc.issuanceCountry}}</td>
                                <td style="text-align: center">{{doc.issuanceDate}}</td>
                                <td style="text-align: center">{{doc.expirationDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab>
                <!-- PNR Tab -->
                <md-tab label="PNR">
                    <md-tab-body>
                        <div style="padding: 10px;"></div>
                        <div class="span12">
                            <div class="container" style="height:100%;">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4>&nbsp;&nbsp;&nbsp;&nbsp; Record Locator:&nbsp; <span
                                                style="text-decoration: underline;"><strong>{{
                                            passenger.pnrVo.recordLocator }}</strong></span></h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Booking Date:&nbsp; <strong>{{ passenger.pnrVo.dateBooked | date
                                            }}</strong>
                                        </h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Received:&nbsp; <strong>{{ passenger.pnrVo.dateReceived | date }}</strong>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 30px;"></div>
                        <!-- LEFT DIV -->
                        <div class="col-lg-6" style="min-height: 200px; min-width: 40px; height: 100%; ">
                            <div class="span6">
                                <div class="container">
                                    <div id="OrderPackages">
                                        <table id="tableSearchResults"
                                               class="table table-hover table-striped table-condensed">
                                            <tbody>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Itinerary ({{ }})</strong></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed"
                                                               style="border-collapse: separate; text-align: center;">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center"></th>
                                                                <th style="text-align: center"></th>
                                                                <th style="text-align: center"></th>
                                                                <th style="text-align: center"></th>
                                                                <th style="text-align: center"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="doc in passenger.documents">
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package2" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails2">
                                                <td><strong>PNR Names ({{}})</strong></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails2" id="accordion2">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center">First</th>
                                                                <th style="text-align: center">Middle</th>
                                                                <th style="text-align: center">Last</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Documents</strong></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed"
                                                               style="border-collapse: separate; text-align: center;">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center">Type</th>
                                                                <th style="text-align: center">Name</th>
                                                                <th style="text-align: center">Country</th>
                                                                <th style="text-align: center">Number</th>
                                                                <th style="text-align: center">Gender</th>
                                                                <th style="text-align: center">DOB</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="doc in passenger.documents">
                                                                <td style="text-align: center">{{doc.documentType}}</td>
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center">{{doc.issuanceCountry}}
                                                                </td>
                                                                <td style="text-align: center">{{doc.documentNumber}}
                                                                </td>
                                                                <td style="text-align: center"></td>
                                                                <td style="text-align: center"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Addresses ({{ passenger.pnrVo.addresses.length }})</strong>
                                                </td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center">City</th>
                                                                <th style="text-align: center">State</th>
                                                                <th style="text-align: center">Country</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody ng-repeat="addr in passenger.pnrVo.addresses track by $index">
                                                            <tr>
                                                                <td style="text-align: center">{{ addr.city }}</td>
                                                                <td style="text-align: center">{{ addr.state }}</td>
                                                                <td style="text-align: center">{{ addr.country }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Phone Numbers ({{ passenger.pnrVo.phones.length }})</strong>
                                                </td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <tbody ng-repeat="phn in passenger.pnrVo.phones track by $index">
                                                            <tr>
                                                                <td>{{ phn.number }}</td>
                                                            </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Email Addresses ({{ passenger.pnrVo.emails.length
                                                    }})</strong>
                                                </td>
                                                <td></td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <tr ng-repeat="email in passenger.pnrVo.emails track by $index">
                                                                <td>{{ email.address }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-toggle="collapse"
                                                data-parent="#OrderPackages" data-target=".packageDetails1">
                                                <td><strong>Credit Cards ({{ passenger.pnrVo.creditCards.length
                                                    }})</strong>
                                                </td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center">Holder</th>
                                                                <th style="text-align: center">Type</th>
                                                                <th style="text-align: center">Number</th>
                                                                <th style="text-align: center">Exp. Date</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="cc in passenger.pnrVo.creditCards track by $index">
                                                                <td style="text-align: center">{{cc.accountHolder}}</td>
                                                                <td style="text-align: center">{{cc.cardType}}</td>
                                                                <td style="text-align: center">{{cc.number}}</td>
                                                                <td style="text-align: center">{{cc.expiration |
                                                                    date:'MM-dd-yyyy' }}
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Frequent Flyer Numbers ({{
                                                    passenger.pnrVo.frequentFlyers.length
                                                    }})</strong></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                            <tr class="text-center" style="text-align: center">
                                                                <th style="text-align: center">Airline</th>
                                                                <th style="text-align: center">Number</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="ff in passenger.pnrVo.frequentFlyers track by $index">
                                                                <td style="text-align: center">{{ff.airline}}</td>
                                                                <td style="text-align: center">{{ff.number}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Travel Agencies ({{ passenger.pnrVo.agency.length
                                                    }})</strong>
                                                </td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <tr>

                                                            </tr>

                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Baggage ({{ passenger.pnrVo.bagCount }})</strong></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <tr>

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr id="package1" class="accordion-toggle" data-parent="#OrderPackages"
                                                data-target=".packageDetails1">
                                                <td><strong>Seat Information</strong></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="accordion-body packageDetails1" id="accordion1">
                                                        <table class="table table-condensed">
                                                            <tr>

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END of ORDERED PACKS -->
                                </div>
                            </div>
                        </div>
                        <!-- RIGHT DIV -->
                        <div class="col-md-offset-2 col-lg-6 col-lg-offset-0"
                             style="min-height: 200px; min-width: 40px;  max-height: 1000px; overflow: scroll;">
                            <table class="table table-striped">
                                <tbody>
                                <tr ng-repeat="i in passenger.pnrVo.rawList track by $index">
                                    <td><span>{{ $index+1 }} .&nbsp;&nbsp;&nbsp; {{ i }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab-body>
                </md-tab>
                <!-- Flight History Tab -->
                <md-tab label="Flight History">

                    <div class="span6" style="background-color: rgb(255, 255, 255, 0.15);">
                        <div class="container">
                            <div style="padding: 10px;"></div>
                            <div class="row">

                                <div class="row"
                                     ng-repeat-start="(key, value) in passenger.flightHistoryVo.flightHistoryMap">
                                    <div style="padding: 10px;"></div>
                                    <span class="col-sm-offset-1"
                                          style="font-weight: bold;">&nbsp;Document# : {{ key }}</span>

                                    <div style="padding: 15px;"></div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="text-center" style="text-align: center">
                                            <th style="text-align: center">Carrier/Flight</th>
                                            <th style="text-align: center">ETA</th>
                                            <th style="text-align: center">ETD</th>
                                            <th style="text-align: center">Origin Country</th>
                                            <th style="text-align: center">Origin Airport</th>
                                            <th style="text-align: center">Destination Country</th>
                                            <th style="text-align: center">Destination Airport</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="j in value track by $index">
                                            <td style="text-align: center">{{j.fullFlightNumber}}</td>
                                            <td style="text-align: center">{{j.eta | date:'MM/dd/yyyy HH:mm'}}</td>
                                            <td style="text-align: center">{{j.etd | date:'MM/dd/yyyy HH:mm'}}</td>
                                            <td style="text-align: center">{{j.originCountry}}</td>
                                            <td style="text-align: center">{{j.origin}}</td>
                                            <td style="text-align: center">{{j.destinationCountry}}</td>
                                            <td style="text-align: center">{{j.destination}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <span ng-repeat-end></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 30px;"></div>
                </md-tab>
            </md-tabs>
        </div>
    </section>
</div>
