<style>
  .grid .ui-grid-row .green {
    background-color: palegreen;
  }
  .grid .ui-grid-row .red {
    background-color: pink;
  }

  section {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }
</style>

<section layout="row" data-ng-if="stateName !== 'queryPassengers'" layout-padding layout-margin layout-align="space-around center">
  <md-input-container>
    <label>Last Name</label>
    <input ng-model="model.lastName">
  </md-input-container>
  <md-input-container>
    <label>Origin</label>
    <input ng-model="model.origin">
  </md-input-container>
  <md-input-container>
    <label>Destination</label>
    <input ng-model="model.dest">
  </md-input-container>
  <md-input-container>
    <label>Flight</label>
    <input ng-model="model.flightNumber">
  </md-input-container>
  <md-input-container>
    <label>Direction</label>
    <md-select ng-model="model.direction">
      <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
        {{item.label}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-datepicker ng-model="model.etaStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="model.etaEnd" md-placeholder="End Date"></md-datepicker>

  <md-icon-button aria-label="filter" ng-click="filter()">
    <md-tooltip>Filter</md-tooltip>
    <md-icon md-svg-src="resources/img/ic_filter_list_black_24px.svg" style="width: 24px; height: 24px;"></md-icon>
  </md-icon-button>
  <md-icon-button aria-label="reset" ng-click="reset()">
    <md-tooltip>Reset</md-tooltip>
    <md-icon md-svg-src="resources/img/ic_cancel_black_24px.svg" style="width: 24px; height: 24px;"></md-icon>
  </md-icon-button>
</section>


<md-content layout-padding>
  <div class="modal" id="QBModal" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true"
       style="display: none; background: rgba(125, 125, 125, 0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close"
                  ng-click="closeDialog();">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Rule :
            {{hitDetailDisplay}}</h4>

        </div>
        <div class="modal-body">
          <div class="te">
            <div id="builder"></div>
          </div>
        </div>

      </div>
      <!-- /.modal-content -->
    </div>
  </div>


  <div id="builder"></div>
  <div id="grid1" ui-grid="passengerGrid"
       ui-grid-pagination
       ui-grid-expandable
       ui-grid-auto-resize
       ng-style="getTableHeight()"
       class="grid"></div>
</md-content>
