<style>
  .grid .ui-grid-row .red {
    color: red;
    font-weight: bold;
  }

  form {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  form [disabled],
  form [disabled] span {
    color: #000 !important;
  }

  .md-button {
    min-width: 30px
  }
</style>

<form layout="row" layout-padding layout-margin layout-align="space-around center" ng-submit="filter()">
  <md-input-container style="min-width: 5em">
    <label>Origin</label>
    <input ng-model="model.origin">
  </md-input-container>
  <md-input-container style="min-width: 6em">
    <label>Destination</label>
    <input ng-model="model.dest">
  </md-input-container>
  <md-input-container style="min-width: 5em">
    <label>Flight</label>
    <input ng-model="model.flightNumber">
  </md-input-container>
  <md-input-container>
    <label>Direction</label>
    <md-select ng-model="model.direction">
      <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
        {{item.label}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-datepicker ng-model="model.etaStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="model.etaEnd" md-placeholder="End Date"></md-datepicker>

  <md-button class="md-primary" type="submit">
    <md-tooltip>Filter</md-tooltip>
    <!--<i class="glyphicon glyphicon-filter"></i>-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10 18h4v-2h-4v2z"></path><path d="M3 6v2h18V6H3z"></path><path d="M6 13h12v-2H6v2z"></path></svg>
  </md-button>
  <md-button class="md-primary" aria-label="reset" ng-click="reset()" type="button">
    <md-tooltip>Reset</md-tooltip>
    <!--<i class="glyphicon glyphicon-remove-sign"></i>-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path></svg>
  </md-button>
</form>

<md-content layout-padding>
  <div layout="row"
       ui-grid="flightsGrid"
       ui-grid-pagination
       ui-grid-auto-resize
       ng-style="getTableHeight()"
       class="grid"></div>
</md-content>
