<style>
  .grid .ui-grid-row .red {
    color: red;
    font-weight: bold;
  }

  form {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  form [disabled],
  form [disabled] span {
    color: #000 !important;
  }

  .md-button {
    min-width: 30px
  }
</style>
<style>
  .md-virtual-repeat-container {
    overflow: auto;
    width: 25em;
  }

  .md-virtual-repeat-container .md-virtual-repeat-scroller {
    overflow: auto;
    width: 25em;
  }

  .md-contact-suggestion {
    min-width: 25em;
  }

  .md-contact-suggestion span.md-contact-email {
    overflow: visible !important;
  }

  .md-contact-suggestion .md-contact-name {
    display: none !important;
  }
</style>

<form layout="row" layout-padding layout-margin layout-align="space-around center" ng-submit="filter()"
      class="chipsdemoContactChips">
  <md-content class="md-padding autocomplete" layout="column" style="min-width: 8em; max-width: 28em; padding: 0">
    <md-contact-chips ng-model="flights.origin" md-contacts="flights.querySearch($query)" md-contact-name="id"
                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                      filter-selected="flights.filterSelected" placeholder="Origin" secondary-placeholder="Origin">
    </md-contact-chips>
  </md-content>
  <md-content class="md-padding autocomplete" layout="column" style="min-width: 8em; max-width: 28em; padding: 0">
    <md-contact-chips ng-model="flights.destination" md-contacts="flights.querySearch($query)" md-contact-name="id"
                      md-contact-email="name" md-require-match="true" md-highlight-flags="i"
                      filter-selected="flights.filterSelected" placeholder="Destination"
                      secondary-placeholder="Destination">
    </md-contact-chips>
  </md-content>
  <md-input-container style="min-width: 5em; max-width: 5em; width: 100%">
    <label>Flight</label>
    <input ng-model="model.flightNumber">
  </md-input-container>
  <md-input-container>
    <label>Direction</label>
    <md-select ng-model="model.direction">
      <md-option ng-repeat="item in flightDirections" value="{{item.value}}">
        {{item.label}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-datepicker ng-model="model.etaStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="model.etaEnd" md-placeholder="End Date"></md-datepicker>

  <md-button class="md-primary" type="submit">
    <md-tooltip>Filter</md-tooltip>
    <!--<i class="glyphicon glyphicon-filter"></i>-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
      <path d="M10 18h4v-2h-4v2z"></path>
      <path d="M3 6v2h18V6H3z"></path>
      <path d="M6 13h12v-2H6v2z"></path>
    </svg>
  </md-button>
  <md-button class="md-primary" aria-label="reset" ng-click="reset()" type="button">
    <md-tooltip>Reset</md-tooltip>
    <!--<i class="glyphicon glyphicon-remove-sign"></i>-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
      <path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2z"></path>
      <path d="M12 3c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"></path>
    </svg>
    <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path></svg>-->
  </md-button>
</form>

<md-content layout-padding>
  <div layout="row"
       ui-grid="flightsGrid"
       ui-grid-pagination
       ui-grid-auto-resize
       ui-grid-exporter
       ng-style="getTableHeight()"
       class="grid"></div>
</md-content>
