<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>GTAS</display-name>

	<!-- Security Filters <filter> <filter-name>springSecurityFilterChain</filter-name> 
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>*.action</url-pattern> </filter-mapping> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>/j_spring_security_check</url-pattern> </filter-mapping> <session-config> 
		<session-timeout>10</session-timeout> </session-config> -->

	<welcome-file-list>
		<welcome-file>
      		index.html
    	</welcome-file>
	</welcome-file-list>
	<!-- <error-page> <error-code>404</error-code> <location>/WEB-INF/views/forbiddenError.jsp</location> 
		</error-page> -->
</web-app>
