<html >
<div  layout="column">

  <md-content layout-padding>
      <div >
      <div class="md-actions" layout="row">
        <md-button class="md-raised md-primary" ng-click="modifyUser()">Modify User</md-button>
        <md-button class="md-raised md-primary" ng-click="createUser()">Add User</md-button>
        </div>
      </div>
      <br>
      <br>
      <div layout="row" layout-align="start center" ui-grid="gridOptions" ui-grid-selection class="grid" ></div>
    </md-content>
  </div>
</html>