<style>
  .grid .ui-grid-row .red {
    color: red;
    font-weight: bold;
  }
  .audit-detail {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  form {
    border: 1px solid;
    border-color: LightGray;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  form [disabled],
  form [disabled] span {
    color: #000 !important;
  }

  .md-button {
    min-width: 30px
  }
</style>

<form id="AuditFilterPanel" layout="row" layout-padding layout-margin layout-align="space-around center" ng-submit="refreshAudit()">
  <md-input-container style="min-width: 5em">
    <label>Action</label>
    <md-select ng-model="auditModel.action">
      <md-option ng-repeat="action in auditActions" value="{{action}}">
        {{action}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="min-width: 6em">
    <label>User</label>
    <input ng-model="auditModel.user">
  </md-input-container>
  <md-datepicker ng-model="auditModel.timestampStart" md-placeholder="Start Date"></md-datepicker>
  <md-datepicker ng-model="auditModel.timestampEnd" md-placeholder="End Date"></md-datepicker>

  <md-button class="md-primary" type="submit">
    <md-tooltip>Filter</md-tooltip>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M10 18h4v-2h-4v2z"></path><path d="M3 6v2h18V6H3z"></path><path d="M6 13h12v-2H6v2z"></path></svg>
  </md-button>
</form>
	<div class="audit-detail" ng-show = "showAuditDetails" layout-padding layout-margin layout-align="space-around center">
<!-- 	  <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center"> -->
	   <table border="1px" width="100%" margin-top="2px">
	       <tr>
		       <td>User Name: {{selectedItem.userName}}</td>
		       <td>Audit Message: {{selectedItem.message}}</td>
		       <td>Action Target: {{selectedItem.target}}</td>
	       </tr>
	       <tr>
		       <td  colspan="3">Action Data: {{selectedItem.actionData}}</td>
	       </tr>
	   </table>
<!-- 	  </md-whiteframe> -->
	</div>

<md-content class="md-padding">
	<div ui-grid="auditGrid" ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="grid" />
</md-content>

