
<div style="padding-top: 15px;"></div>
<div  layout="column">

	<md-content layout-padding>
	<form name="userForm">
		<div layout layout-sm="column">

			<md-input-container flex  ng-show="action === 'modify'"> <label>User Id</label>

			<input ng-model="persistUser.userId"  disabled style="width: 300px;">

			</md-input-container>
			<md-input-container flex  ng-show="action === 'create'"> <label>Assign ID</label>

				<input ng-model="persistUser.activeName"  required style="width: 300px;">

			</md-input-container>

			<md-input-container flex> <label>Password</label>
			<input ng-model="persistUser.activeWord"  type="password" ng-change="encodePassword()" style="width: 300px;"> </md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex> <label>First
				name</label> <input ng-model="persistUser.firstName" required style="width: 300px;"> </md-input-container>
			<md-input-container flex> <label>Last
				Name</label> <input ng-model="persistUser.lastName" required style="width: 300px;"> </md-input-container>
		</div>

		<div>
		<div layout="column" >
			<!--<fieldset class="standard" flex>-->
				
					<code style="font-weight: bold; font-size: 17px;">Status</code>

				<md-switch ng-model="userStatus.enabled"
						   class="md-primary" aria-label="userStatus" ng-change="enableDisableUser(userStatus.enabled)">
					User is {{ userStatus.enabled ? 'Enabled' : 'Disabled' }}
				</md-switch>

			<!--</fieldset>-->
			</div>
		</div>


		<div>
		<div layout="column" >
			<div layout="column">
				<!--<fieldset class="standard" flex >-->
				<code style="font-weight: bold; font-size: 17px;">Roles</code>


					<div layout="column" layout-wrap class="clearfix" style="min-height: 200px;">
						<div flex="20"  ng-repeat="role in rolesLookup | orderBy:'roleDescription'">
							<div>
								<md-switch ng-model="roles[role.roleDescription].selected"  ng-disabled="roles[role.roleDescription].disabled"
										   class="md-primary" aria-label="Roles" ng-change="toggleRole(role.roleDescription)">
										{{ role.roleDescription }}
								</md-switch>
							</div>


						</div>
					</div>



				<!--</fieldset>-->
			</div>			
		</div>
</div>

		<div style="padding-top: 15px;"></div>
		<div layout="row">
		</div>
		<div class="md-actions" layout="row">
		<span flex="80"></span>
			<md-button class="md-raised md-primary" ng-click="back()">back</md-button>
		<md-button class="md-raised md-primary" ng-click="saveUser()">Save</md-button>
		</div>

	</form>
	</md-content>
</div>