<md-content layout-padding>
	<form name="userForm" ng-submit="saveUser()">
		<div layout layout-sm="column">
			<md-input-container flex><label>User Id</label>
				<input ng-model="persistUser.userId" ng-disabled="action === 'modify'" style="width: 300px;">
			</md-input-container>
			<md-input-container flex><label>Password</label>
				<input ng-model="persistUser.password" type="password" required style="width: 300px;">
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<md-input-container flex><label>First
				name</label> <input ng-model="persistUser.firstName" required style="width: 300px;">
			</md-input-container>
			<md-input-container flex><label>Last
				Name</label> <input ng-model="persistUser.lastName" required style="width: 300px;">
			</md-input-container>
		</div>

		<div layout="column">
			<code style="font-weight: bold; font-size: 17px;">Status</code>
			<md-switch ng-model="persistUser.active" ng-true-value="1" ng-false-value="0"
					   class="md-primary" aria-label="userStatus">
				User is {{ persistUser.active ? 'Enabled' : 'Disabled' }}
			</md-switch>
		</div>
		<div layout="column">
			<code style="font-weight: bold; font-size: 17px;">Roles</code>
			<span layout="column" layout-wrap class="clearfix" style="min-height: 200px;">
				<span flex="20" ng-repeat="role in roles | orderBy:'roleDescription'">
						<md-switch ng-model="role.selected"
								   ng-disabled="role.disabled"
								   class="md-primary" aria-label="Roles"
								   ng-change="toggleRole(role)">
							{{ role.roleDescription }}
						</md-switch>
				</span>
			</span>
		</div>
		<div class="md-actions" layout="row" style="padding-top: 15px;">
			<span flex="80"></span>
			<md-button href="#/admin" class="md-raised">Back</md-button>
			<md-button class="md-raised md-primary">Save</md-button>
		</div>
	</form>
</md-content>
