<style>
    @media (min-width: 1200px) {
        .container {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    .ui-grid-pager-control input {
        width: 80px;
    }

    .ui-grid-icon-ok:before {
        content: '\c357' !important;
    }
</style>
<h2>
    <span class="glyphicon glyphicon-filter"></span>
    Query Builder
    <button data-ng-click="newRule()" class="md-raised md-button md-default-theme pull-right" data-add="rule"><span class="glyphicon glyphicon-plus"></span> Add New</button>
</h2>
<div ui-grid="gridOpts" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" external-scopes="$scope"></div>

<section class="qb-interface">
    <h2>Summary:</h2>
    <md-content layout-padding>
        <div layout layout-sm="column">
            <md-input-container style="width:20%">
                <label>Name</label>
                <input md-maxlength="20" required name="description" ng-model="title">
            </md-input-container>
            <md-input-container flex>
                <label>Description</label>
                <input md-maxlength="100" name="description" ng-model="description">
            </md-input-container>
        </div>
    </md-content>

    <h2>Conditions:</h2>
    <div id="builder"></div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-class="{'fade-out': alert.expired}">{{alert.msg}}</alert>
    <button type="button" data-ng-click="executeQuery('flights')"  class="md-raised md-primary md-button md-default-theme" >Query Flights</button>
    <button type="button" data-ng-click="executeQuery('passenger')"  class="md-raised md-primary md-button md-default-theme" >Query Passengers</button>
    <button type="button" data-ng-click="resetQueryBuilder()" class="md-raised md-button md-default-theme">Clear Conditions</button>
    <button type="button" data-ng-click="save()" data-ng-disabled="saving === true" class="md-raised md-primary md-button md-default-theme pull-right">Save</button>
    <button type="button" data-ng-click="delete()" data-ng-disabled="ruleId === null" class="md-raised md-warn md-button md-default-theme pull-right">Delete</button>
</section>
