<style>
    @media (min-width: 1200px) {
        .container {
            width: 100%;
        }
    }
    .table .glyphicon-pencil{
        left: -1em;
        transform: scaleX(-1);
        margin-right: -.75em;
        top: -.25em;
    }
    h1,h2 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }
    form {

    }
    input[placeholder="Name:"] {
        width: 60%;
    }
    input[placeholder="Description:"] {
        width: 100%;
    }

    input[placeholder="Start Date:"],
    input[placeholder="End Date:"],
    label[for="enabled"] {
        width: 6em;
    }
    .udr-add-form label.hide {
        position: absolute;
        left: -99999px;
    }
    .udr-add-form input {
        display: inline-block;
    }

    .table thead th:hover,
    .table tbody tr:hover {
        cursor: pointer;
    }

    .table tbody tr:nth-child(odd) {
        background: rgba(245,245,255,0.5);
    }

    /* temporary highlighting the only entity we don't yet support */
    .entity-name ul li:nth-child(8) {
        background: rgba(200,30,30, 0.2);
    }

    @keyframes fadeOut
    {
        from { opacity: 1.0; }
        to { opacity: 0.0; }
    }

    @-webkit-keyframes fadeOut
    {
        from { opacity: 1.0 }
        to { opacity: 0.0 }
    }

    .fade-out
    {
        animation: fadeOut 2s infinite;
        -webkit-animation: fadeOut 2s infinite;
    }
    .ui-grid-icon-ok:before {
        content: '\c357' !important;
    }
</style>
<h1>Risk Criteria:</h1>
<div ui-grid="gridOpts" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" external-scopes="$scope"></div>
<section class="qb-interface">
    <button data-ng-click="newRule()" class="btn btn-xs btn-primary pull-right" data-add="rule">New Rule</button>

    <h2>Summary:</h2>
    <label for="title" class="hide">Name:</label>
    <input title="Name" placeholder="Name:" type="text" ng-model="title" id="title" maxlength="20" />
    <label for="start-date" class="hide">Start Date:</label>
    <input placeholder="Start Date:" type="text" ng-model="startDate" id="start-date" class="datepicker" />
    <label for="end-date" class="hide">End Date:</label>
    <input placeholder="End Date:" type="text" ng-model="endDate" id="end-date" class="datepicker" />
    <label for="enabled">Enabled:</label>
    <input type="checkbox" ng-model="enabled" id="enabled" />
    <label for="description" class="hide">Description:</label>
    <input title="Description" type="text" ng-model="description" id="description" placeholder="Description:" maxlength="100" />

    <h2>Conditions:</h2>
    <div id="builder"></div>
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-class="{'fade-out': alert.expired}">{{alert.msg}}</alert>
    <button type="button" data-ng-click="resetQueryBuilder()" class="btn btn-xs btn-primary reset pull-right" data->Clear Conditions</button>
    <button type="button" ng-show="ruleId !== null" data-ng-click="delete()" type="button" class="btn btn-xs btn-primary pull-right" title="delete">Delete</button>
    <button type="button" data-ng-click="save()" id="submit" class="btn btn-xs btn-primary pull-right">Save</button>
</section>
