<style>
    .actions {
        text-align: center;
    }

    .ui-grid-row-dirty {
        font-weight: bold;
        background-color: rgba(200, 40, 100, .2);
    }

    .ui-grid-viewport {
        min-height: 330px !important;
    }

    .ui-grid-cell,
    .ui-grid-cell input {
        text-transform: uppercase;
    }

    .spinner {
        width: 100px;
        height: 100px;

        position: absolute;
        top: calc(50% - 70px);
        left: calc(50% - 50px);
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #9c9;
        border: solid 3px #fff;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes bounce {
        0%, 100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

    .please-wait {
        text-align: center;
        position: absolute;
        top: calc(50% + 45px);
        left: calc(50% - 45px);
        color: #fff;
        z-index: 10;
    }

    .success {
        padding: 15px;
        text-align: center;
        border-radius: 50%;
        border: solid 2px #050;
    }

    .glyphicon-remove {
        cursor: pointer;
    }

    .ui-grid-icon-ok:before {
        content: '\c357' !important;
    }

    md-input-container {
        display: inline-block;
        text-align: left;
        width: 300px;
    }

    form {
        padding: 2em 2em 0;
    }
</style>
<md-button ng-click="updateWatchlistService()" ng-disabled="updating === true" class="md-raised md-primary pull-right">
    <i class="glyphicon glyphicon-cloud-upload"></i> <i class="glyphicon glyphicon-cloud-download"></i> Update Watchlist
    Service
</md-button>
<md-button ng-click="Add()"
           ng-disabled="(activeTab == 'Passenger' && Passenger.id == null) || (activeTab == 'Document' && Document.id == null)"
           class="md-raised pull-right">
    <i class="glyphicon glyphicon-plus"></i> Add New {{activeTab}}
</md-button>
<md-tabs>
    <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" md-on-select="updateGrid(tab.title)"></md-tab>
</md-tabs>

<div ng-if="activeTab !== 'create-new'">
    <div ui-grid="watchlistGrid" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"
         external-scopes="$scope"></div>
    <section class="actions">
        <!--<form name="newDocument" ng-submit="Add()" ng-if="activeTab == 'Document'">-->
        <md-input-container ng-if="activeTab == 'Document'">
            <label>Document Type:</label>
            <md-select ng-model="Document.documentType" required>
                <md-option ng-repeat="docType in documentTypes" value="{{docType.id}}">
                    {{docType.label}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="activeTab == 'Document'">
            <label>Document Number:</label>
            <input ng-model="Document.documentNumber" type="string" required>
        </md-input-container>
        <md-button ng-click="saveRow(Document)"
                   ng-if="activeTab == 'Document' && Document.id == null"
                   class="md-raised md-primary pull-right">
            <i class="glyphicon glyphicon-save"></i><i class="glyphicon glyphicon-eye-open"></i> Save New Document
        </md-button>
        <md-button ng-click="saveRow(Document)"
                   ng-if="activeTab == 'Document' && Document.id != null"
                   class="md-raised md-primary pull-right">
            <i class="glyphicon glyphicon-save"></i><i class="glyphicon glyphicon-eye-open"></i> Save Document Changes
        </md-button>
        <!--</form>-->
        <!--<form name="newPassenger" ng-submit="Add()" ng-if="">-->
        <md-input-container ng-if="activeTab == 'Passenger'">
            <label>First Name:</label>
            <input ng-model="Passenger.firstName" type="string" required>
        </md-input-container>
        <md-input-container ng-if="activeTab == 'Passenger'">
            <label>Last Name:</label>
            <input ng-model="Passenger.lastName" type="string" required>
        </md-input-container>
        <md-datepicker ng-if="activeTab == 'Passenger'" name="dob" ng-model="Passenger.dob"
                       md-placeholder="Date of Birth" required></md-datepicker>
        <md-button ng-click="saveRow(Passenger)"
                   ng-if="activeTab == 'Passenger' && Passenger.id == null"
                   class="md-raised md-primary pull-right">
            <i class="glyphicon glyphicon-save"></i><i class="glyphicon glyphicon-eye-open"></i> Save New Passenger
        </md-button>
        <md-button ng-click="saveRow(Passenger)"
                   ng-if="activeTab == 'Passenger' && Passenger.id != null"
                   class="md-raised md-primary pull-right">
            <i class="glyphicon glyphicon-save"></i><i class="glyphicon glyphicon-eye-open"></i> Save Passenger Changes
        </md-button>
        <!--</form>-->
        <md-button class="md-raised md-warn pull-right" ng-click="removeRow()" ng-disabled="rowSelected !== true"><span
                class="glyphicon glyphicon-remove"></span> Remove {{activeTab}}
        </md-button>
    </section>
</div>
<div>
    <spinner name="html5spinner" ng-cloak="">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="please-wait">Please Wait...</div>
    </spinner>
</div>
