<style>
    .ui-grid-row-dirty {
        font-weight: bold;
        background-color: rgba(200, 40, 100, .2);
    }
    .ui-grid-viewport {
        min-height: 330px !important;
    }
    .ui-grid-pager-panel {
        background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    }

    .spinner {
        width: 100px;
        height: 100px;

        position: absolute;
        top: calc(50% - 70px);
        left: calc(50% - 50px);
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #9c9;
        border: solid 3px #fff;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes bounce {
        0%, 100% { -webkit-transform: scale(0.0) }
        50% { -webkit-transform: scale(1.0) }
    }

    @keyframes bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 50% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
    }

    form.well {
        position: relative;
    }

    .overlay {
        opacity: .75;
        background-color: transparent;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: absolute;
        z-index: 5;
        margin: -20px -20px;
        border-radius: 3px;
    }

    .please-wait {
        text-align: center;
        position: absolute;
        top: calc(50% + 45px);
        left: calc(50% - 45px);
        color: #fff;
        z-index: 10;
    }

    .success {
        padding: 15px;
        text-align: center;
        border-radius: 50%;
        border: solid 2px #050;
    }

    .glyphicon-remove {
        cursor: pointer;
    }
</style>
<section>
    <h2><span class="glyphicon glyphicon-eye-open"></span> Watchlists</h2>
    <md-tabs>
        <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" md-on-select="updateGrid(tab.title)"></md-tab>
    </md-tabs>
    <div ng-if="activeTab !== 'create-new'">
        <div ui-grid="gridOpts" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid" external-scopes="$scope"></div>
        <button type="button" class="md-raised md-warn md-button md-default-theme pull-right" ng-click="removeRow()"><span class="glyphicon glyphicon-remove"></span> Remove</button>
        <button type="button" class="md-raised md-button md-default-theme pull-right" data-ng-click="Add()"><span class="glyphicon glyphicon-plus"></span> Add New</button>
    </div>
</section>
<div>
    <spinner name="html5spinner" ng-cloak="">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="please-wait">Please Wait...</div>
    </spinner>
    <button type="button" data-ng-click="updateWatchlistService()" class="md-raised md-primary md-button md-default-theme">Update Watchlist Service</button>
</div>
