<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/gtas/resources/css/bootstrap.css" />
    <link rel="stylesheet" href="/gtas/resources/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/gtas/resources/dist/ng-table.css" />
    <title>Passengers</title>
</head>
<body ng-app="main">

<h1><script>document.write(document.title);</script></h1>
<div ng-controller="PaxCtrl">
    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>

    <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="passenger in $data">
        	<!--
            <td data-title="'R'" sortable="'r'" filter="{ 'r': 'text' }">
                {{passenger.r}}
            </td>
            <td data-title="'L'" sortable="'l'" filter="{ 'l': 'text' }">
                {{passenger.l}}
            </td>
            -->
            <td data-title="'LastName'" sortable="'lastName'" filter="{ 'lastName': 'text' }">
                {{passenger.lastName}}
            </td>
            <td data-title="'FirstName'" sortable="'firstName'" filter="{ 'firstName': 'text' }">
                {{passenger.firstName}}
            </td>
            <td data-title="'MiddleName'" sortable="'middleName'" filter="{ 'middleName': 'text' }">
                {{passenger.middleName}}
            </td>
            <td data-title="'Type'" sortable="'Type'" filter="{ 'Type': 'select' }" filter-data="values($column, 'Type')">
                {{passenger.Type}}
            </td>
            <td data-title="'Gender'" sortable="'gender'" filter="{ 'gender': 'select' }" filter-data="values($column, 'gender')">
                {{passenger.gender}}
            </td>
            <td data-title="'DOB'" sortable="'dobsort'" filter="{ 'dob': 'text' }">
                {{passenger.dob}}
            </td>
            <td data-title="'Citizenship'" sortable="'citizenship'" filter="{ 'citizenship': 'select' }" filter-data="values($column, 'citizenship')">
                {{passenger.citizenship}}
            </td>
            <td data-title="'Document Number'" sortable="'documentNumber'" filter="{ 'documentNumber': 'text' }">
                {{passenger.documents[0].documentNumber}}
            </td>
            <td data-title="'T'" sortable="'documentType'" filter="{ 'documentType': 'select' }" filter-data="values($column, 'documentType')">
                {{passenger.documents[0].documentType}}
            </td>
            <td data-title="'Issuance Country'" sortable="'issuanceCountry'" filter="{ 'issuanceCountry': 'select' }" filter-data="values($column, 'issuanceCountry')">
                {{passenger.documents[0].issuanceCountry}}
            </td>
            <td data-title="'Seat'" sortable="'seat'" filter="{ 'seat': 'text' }">
                {{passenger.seat}}
            </td>
            <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">
                {{passenger.status}}
            </td>
        </tr>
    </table>

    <script src="/gtas/resources/js/jquery.js"></script>
    <script src="/gtas/resources/js/angular.min.js"></script>
    <script src="/gtas/resources/dist/ng-table.js"></script>
    <script>
        var app = angular.module('main', ['ngTable']);

	    app.service("paxService", function( $http, $q ) {	
			// Return public API.
			return({
			    getPax: getPax
			});
			
			function getPax() {
			    var request = $http({
			        method: "get",
			        url: "/gtas/travelers",
			        params: {
			            action: "get"
			        }
			    });
			    return( request.then( handleSuccess, handleError ) );
			}
			
            function handleError( response ) {
                if (! angular.isObject( response.data ) || ! response.data.message) {
                    return( $q.reject( "An unknown error occurred." ) );
                }
                return( $q.reject( response.data.message ) );
            }

            function handleSuccess( response ) {
                return( response.data );
            }
		});
                
                
	    app.controller('PaxCtrl', function($scope, $filter, $q, ngTableParams, paxService) {
			var data = [];
			
	        $scope.tableParams = new ngTableParams({
	            page: 1,            // show first page
	            count: 10,          // count per page
	            filter: {},
	            sorting: {
	                hits: 'desc',
	                destinationDateTimeSort: 'asc' //, 'number': 'asc'     // initial sorting
	            }
	        }, {
	            total: data.length, // length of data
	            getData: function($defer, params) {
	                paxService.getPax().then(function (myData) {
	                	data = myData;
					    //vm.tableParams.total(result.total);
		                // use build-in angular filter
		                var filteredData = params.filter() ?
		                        $filter('filter')(data, params.filter()) :
		                        data;
		                var orderedData = params.sorting() ?
		                        $filter('orderBy')(filteredData, params.orderBy()) :
		                        data;
	
		                params.total(orderedData.length); // set total for recalc pagination
		                $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
				    });            
	            }
	        });
	        
	        $scope.values = function (column, fieldName) {
	            console.log('fieldName:' + fieldName);
	            var key, values, lookup = {}, def = $q.defer();
	             angular.forEach(data, function(item){
	                key = item[fieldName];                         
	                lookup[key] = lookup[key] !== undefined ? lookup[key] + 1 : 1;
	            });
	            values = $.map(lookup, function(value, index) {
	                return [{id: index, title: index + ' ('+value+')'}];
	            });
	            def.resolve(values);
	            return def;
	        };
	    });
    </script>
</div>
</body>
</html>
